@import url(variables.css);

@media screen and (min-width: 453px) {
  .hero-heading {
    max-width: 74%;
  }
}

@media screen and (min-width: 591px) {
  .hero-heading {
    max-width: 100%;
  }

  .hero-artist-name {
    top: 32%;
    bottom: calc(50% + -55rem);
  }

  .articles-container ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-dropdown {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 639px) {
  .hero-heading {
    max-width: 81%;
  }
}

@media screen and (min-width: 746px) {
  .hero-heading {
    max-width: 73%;
  }

  /* .main-text-container {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  } */

  .main-text-row-3 {
    display: block;
  }

  .section--aside {
    margin: 0 5%;
  }

  .section--newsletter {
    margin: 8rem 5%;
  }
}

@media screen and (min-width: 876px) {
  .hero-heading {
    max-width: 66%;
  }

  .main-text-row-1,
  .main-text-row-4 {
    display: block;
  }

  .main-text-row-4 {
    display: block;
  }
}

@media screen and (min-width: 1035px) {
  .hero-heading {
    max-width: 87%;
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form-heading {
    margin-bottom: 0;
    padding: 0;
  }

  .form--newsletter {
    margin: 2rem 0;
  }

  .section--footer {
    grid-template-columns: repeat(3, 1fr);
    /* border-top: 1px solid var(--color-heading--secondary); */
  }

  .section--footer::before {
    content: "";
    width: 70%;
    height: 1px;
    background-color: var(--color-heading--secondary);
    grid-column: 1/-1;
    margin-bottom: 4rem;
  }

  .footer-heading {
    border: none;
  }

  .footer-dropdown {
    align-self: center;
  }

  .footer-dropdown-ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }

  .footer-dropdown-btn ion-icon {
    display: none;
  }

  .footer-legal {
    grid-column: 1/-1;
  }
}

@media screen and (min-width: 1153px) {
  .hero-main::after {
    rotate: z -2.5deg;
  }
}

@media screen and (min-width: 1232px) {
  .hero-heading {
    max-width: 79%;
  }

  .articles-container ul {
    grid-template-columns: repeat(4, 1fr);
  }

  .article-heading {
    font-size: 2rem;
  }

  .article-author {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1340px) {
  .main-text-container {
    grid-template-columns: 2fr 1fr;
    overflow: hidden;
  }

  .main-text-row-1 {
    grid-column: 1/2;
  }

  .main-text-row-2 {
    grid-row: 1;
    grid-column: 2/3;
    padding-right: 100%;
    justify-self: left;
    max-width: 22vw;
  }

  .main-text-row-3 .img-box {
    grid-column: 2/3;
    justify-self: left;
  }

  .section--newsletter {
    margin: 8rem auto;
  }
}

@media screen and (min-width: 1482px) {
  .hero-heading {
    max-width: 71%;
  }

  .main-heading {
    margin: 2rem 10%;
  }

  .main-text-container {
    grid-template-columns: 3fr 2fr;
    margin: 0 10%;
  }

  .main-text-row-3 .img-box {
    float: left;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1600px) {
  .hero-main {
    background-size: 150rem;
    background-position: 50% 20%;
  }

  .hero-artist-name {
    top: 32%;
    bottom: calc(50% + -141rem);
  }

  .section--aside {
    margin: 0 10%;
  }

  .section--footer {
    margin: 0 10%;
  }
}

@media screen and (min-width: 1650px) {
  .hero-heading {
    max-width: 68%;
  }
}

@media screen and (min-width: 1877px) {
  .hero-main::after {
    rotate: z -1.9deg;
  }

  .section--main {
    padding: 0 10%;
  }
}

@media screen and (min-width: 2058px) {
  .hero-heading {
    max-width: 61%;
  }

  .heading--newsletter {
    font-size: calc(1.5rem + 2vw);
  }

  .heading--newsletter-sub {
    font-size: calc(1.1rem + 2vw);
  }
}

@media screen and (min-width: 2390px) {
  .hero-main {
    background-size: 167rem;
  }

  .section--newsletter {
    max-width: 100rem;
  }
}

@media screen and (min-width: 2500px) {
  .hero-main::after {
    rotate: z -1.6deg;
  }
}
