@import url(./variables.css);

html {
  font-size: 100%;
  /* font-size: 1em; */
} /*16px*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: var(--color-bg);
  color: var(--color-txt);

  font-family: var(--font-body);
  /* font-weight: 400; */
  line-height: 1.75;
}

p {
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: calc(1rem + 1vw);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  color: var(--color-heading-primary);
}

h1 {
  margin-top: 0;
  /* font-size: 3.052rem; */
  /* font-size: calc(1.5rem + 3vw); */
  font-size: calc(2rem + 3vw);
}

h2 {
  /* font-size: 2.441rem; */
  font-size: calc(1.8rem + 3vw);
}

h3 {
  /* font-size: 1.953rem; */
  font-size: calc(1.4rem + 3vw);
}

h4 {
  /* font-size: 1.563rem; */
  font-size: calc(1.2rem + 3vw);
}

h5 {
  /* font-size: 1.25rem; */
  font-size: calc(1.1rem + 3vw);
}

small,
.text_small {
  font-size: 0.8rem;
}

.highlight--primary {
  color: var(--highlight-primary);
}

.container {
  /* margin: auto 20%; */
  padding: 0px 5%;
}

.section--header {
  position: relative;
  background-color: var(--color-bg);
}

.logo--nav {
  font-family: "Permanent Marker", cursive;

  color: var(--color-heading--secondary);
  letter-spacing: 1px;
}

.logo--nav:link,
.logo--nav:visited {
  text-decoration: none;
}

.nav {
  background-color: var(--color-bg);
  width: 90%;
  height: 3rem;
  position: fixed;
  top: 0;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  padding: 2rem 5% 2rem 5%;
  display: flex;
  width: 90%;
  color: var(--color-txt);
  list-style: none;
  background: var(--color-bg);
  transition: 0.5s ease-in-out;
  position: fixed;
  top: -100vh;
  z-index: 90;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-list-item {
  color: var(--color-txt);
}

.nav-list-item:visited,
.nav-list-item:link {
  text-decoration: none;
}

.icon--menu {
  color: var(--color-heading--secondary);
  font-size: 2rem;
}

.icon--menu:hover {
  cursor: pointer;
}

/************************************
*********************

      HERO SECTION 

*****************
*************************************/
.section--hero {
  margin-top: 3rem;
  margin-bottom: 4rem;
  position: relative;
  overflow: hidden;

  /* margin-top: 4rem; */

  /* border-top: 4rem solid var(--highlight-primary); */
}

.hero-heading {
  /* Padding on top and bottom allows for the marker effect behind the heading. */
  padding: 4rem 5% 2rem 5%;
  position: absolute;
  /* overflow: hidden; */

  /* color: var(--color-heading-primary); */
}

.hero-heading::before {
  content: "";
  height: 25rem;
  width: 200vw;
  background-color: var(--color-bg);
  position: absolute;
  top: 6vh;
  left: -10vh;
  z-index: -100;
  rotate: z -5deg;
}

.heading--primary {
  /* font-size: 2.8rem; */
  font-weight: bold;
  letter-spacing: 0.4rem;
  font-family: "Permanent Marker", cursive;
}

.author-name {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.3rem;
  color: var(--color-heading--secondary);
}

.hero-icon-container {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0;
}

.icon-hero {
  color: var(--color-heading--secondary);
  font-size: 1.5rem;
  transition: all 0.3s;
}

.icon-hero:link,
.icon-hero:visited {
  color: var(--color-heading--secondary);
}

.icon-hero:hover {
  color: var(--color-heading-primary);
}

.hero-main {
  /* background-image: url(./images/urban.jpg); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
    url(./images/compressed/urban-min.jpg);
  height: 50rem;
  /* background-size: cover; */
  /* background-position-x: -9rem; */
  background-size: calc(100rem);
  background-position: 50% 11%;
  /* display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; */
}

.hero-main::after {
  content: "";
  width: 200vw;
  height: 5rem;
  max-height: 20rem;
  background-color: var(--color-bg);
  position: absolute;
  rotate: z -4deg;
  bottom: -2%;
  left: -20vw;
}

.hero-artist-name {
  font-size: calc(1rem + 1vw);
  font-family: "Permanent Marker";
  color: var(--highlight-secondary);
  rotate: z 10deg;
  /* margin-right: 1rem;
  margin-top: -12rem; */
  position: absolute;
  top: 26%;
  left: calc(50% + 5rem);
}

.hero-artist-description {
  width: 10rem;
}

/************************************
*********************

      MAIN SECTION 

*****************
*************************************/

.section--main {
  padding: 0px 5%;
  padding-top: calc(1rem + 4vw);
  overflow: hidden;
}

.main-img-hero {
  position: absolute;
  width: 100%;
  top: 33%;
  left: -17%;
  scale: 2;
  z-index: -200;
}

.main-heading::before {
  /* tag above heading */
  content: "USA";
  font-size: calc(1.3rem + 1vw);
  padding: 0px 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-bg);
  border-radius: 5%;
  background-color: var(--color-heading--secondary);
  color: var(--color-bg);
  /* font-family: var(--font-body); */
  position: absolute;
  top: -50%;
  left: -3%;
  rotate: -3deg;
}

.main-heading {
  position: relative;
  color: var(--color-heading--secondary);
  /* background-color: var(--color-bg); */
  font-family: "Permanent Marker", cursive;
  /* border: 0.2rem solid var(--color-bg); */

  display: flex;
  justify-content: flex-start;
}

.main-heading::after {
  /* highlighted background */
  /* content: "";
  height: 25rem;
  width: 210vw;
  background-color: var(--color-hero-red);
  position: absolute;
  top: 32%;
  left: -13vw;
  z-index: -100;
  rotate: z -5deg; */
}

.main-text-container {
  display: grid;
  grid-template-columns: 1fr;
}

.main-text {
  /* background-color: var(--color-txt); */
  color: var(--color-txt);
  /* padding: 1rem; */
  letter-spacing: 1px;
  text-indent: 1rem;
  width: 100%;
  max-width: 32rem;
  grid-column: 1/-1;
  /* position: relative; */
}

.main-text-right {
  align-self: flex-end;
  color: var(--color-txt--sub);
  transform: skew(1deg);
}

.main-text-right::before {
  content: "";
  width: 100%;
  background-color: var(--color-bg);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  transform: skew(2deg);
}

.main-text-left::before {
  content: "";
  width: 100%;
  background-color: var(--color-bg);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  transform: skew(-2deg);
}

.img-box--stripe::before {
  content: "";
  height: 13rem;
  width: 212vw;
  background-color: var(--color-hero-red);
  position: absolute;
  top: 18%;
  /* left: -13vw; */
  z-index: -100;
  rotate: z -5deg;
}

.img-box--square::before {
}

.img-box {
  position: relative;
  width: 100%;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  grid-column: 1/-1;
  justify-self: center;
}

.img-box-img {
  width: 100%;
  filter: brightness(0.7);
}

.img-box-txt {
  color: var(--color-txt-shade-1);
  font-size: calc(0.8rem + 1vw);
  width: 95%;
  text-align: left;
}

/************************************
*********************

      NEWSLETTER SECTION 

*****************
*************************************/
.section--newsletter {
  display: grid;
  /* grid-template-columns: 100vw; */
  /* grid-template-rows: 40vh; */
  margin-top: 8rem;
  margin-bottom: 8rem;
  background-color: var(--color-hero-red);
}

.form {
  background-color: var(--color-hero-red);
  padding-bottom: 4rem;
}

.form-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -15%;
  margin-bottom: 2rem;
  background-image: linear-gradient(
      rgba(218, 65, 4, 0.5),
      rgba(218, 65, 4, 0.5)
    ),
    url(./images/compressed/hero-min.jpg);
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.heading--newsletter {
  position: relative;
  color: var(--color-heading-primary);
  /* background-color: var(--color-bg); */
  font-family: "Permanent Marker", cursive;
  /* border: 0.2rem solid var(--color-bg); */
  /* font-size: 3.3rem; */
  letter-spacing: 0.3rem;
  text-align: center;
  margin-bottom: -2rem;
}

/* .heading--newsletter::before {
  content: "URBAN UNDERGROUND";
  font-size: 1.3rem;
  padding: 0px 0.5rem;
  display: block;
  max-width: 21rem;
  border-radius: 1px;
  background-color: var(--color-heading-primary);
  color: var(--color-bg);
  margin: 0 auto;
  margin-bottom: 2rem;
} */

.heading--newsletter-sub {
  color: var(--color-hero-red-tint);
  font-family: "Permanent Marker", cursive;
}

.form--newsletter ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.form--newsletter li {
  display: flex;
  flex-direction: column;
}

.form--newsletter label {
  color: var(--color-hero-red-tint);
  font-size: 1.2rem;
  margin-bottom: 1.6rem;
}

.newsletter-input {
  background-color: var(--color-hero-red);
  border: none;
  font-size: 40rem;
  transition: all 0.3s;
  font-size: 1.2rem;
  color: var(--color-hero-red-tint);
  margin-bottom: 4.8rem;
  /* border-bottom: 1px solid var(--color-hero-red-tint); */
  box-shadow: inset 0rem -0.1rem 0rem 0rem var(--color-hero-red-tint);

  /* This is needed to fix issues with Safari */
  -webkit-appearance: none;
  -webkit-border-radius: 0%;
}

.newsletter-input:hover {
  background-color: var(--color-hero-red-tint-2);
  /* font-size: 2rem; */
  padding-top: 2rem;
}

.newsletter-input:focus {
  background-color: var(--color-hero-red-tint-2);
  outline: none;
  caret-color: var(--color-hero-red-tint);
  padding-top: 2rem;
}

.img-form {
  /* height: 40vw; */
  width: 100%;
  opacity: 0.9;
  display: none;
}

.btn-newsletter {
  border: none;
  border-radius: 1px;
  background-color: var(--color-hero-red-tint-2);
  font-size: 1.2rem;
  color: var(--color-hero-red-tint);
  height: 3.2rem;
  transition: all 0.3s;
  margin-bottom: 2rem;
}

.btn-newsletter:hover {
  color: var(--color-hero-red-tint-2);
  background-color: var(--color-hero-red-tint);
  cursor: pointer;
}

.btn-newsletter:focus {
  outline: none;
  box-shadow: inset 0rem 0rem 0rem 0.1rem var(--color-hero-red-tint);
}

.newsletter-disclosure {
  text-align: center;
  color: var(--color-hero-red-tint-4);
}

.newsletter-disclosure a {
  color: var(--color-hero-red-tint-4);
  transition: all 0.3s;
}

.newsletter-disclosure a:hover {
  color: var(--color-hero-red-tint);
}

/************************************
*********************

      ASIDE SECTION 

*****************
*************************************/
.section--aside {
  margin-bottom: 8rem;
}

.section--aside .heading--secondary {
  font-family: var(--font-heading);
  text-align: center;
}

.articles-container ul {
  list-style-type: none;
  padding: 0;
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  margin: 0;
  box-sizing: border-box;
}

.article {
  position: relative;
}

.article-img {
  width: 100%;
  filter: opacity(0.7);
}

.aside-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 10%;
  background-image: linear-gradient(#12121200, #12121284, #121212);
}

.article-heading {
  font-family: var(--font-heading);
  margin: 0;
}

.article-author {
  margin-top: 0;
  margin-bottom: 2rem;
}

/************************************
*********************

     FOOTER SECTION 

*****************
*************************************/
.section--footer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-content: center;
}

.footer-heading {
  padding: 2rem 5% 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  border-top: 1px solid var(--color-heading--secondary);
}

.footer-heading h4 {
  font-family: var(--font-heading);
  padding: 0;
  margin: 0 auto;
  text-align: center;
  color: var(--highlight-secondary);
}

.footer-heading p {
  font-size: 0.75rem;
  text-align: justify;
  width: 75%;
}

.footer-social {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.icon-footer {
  color: var(--color-txt--sub);
  font-size: 2rem;
  transition: all 0.3s;
}

.icon-footer:hover {
  color: var(--color-heading-primary);
}

.footer-dropdown {
  margin-bottom: 2rem;
}

.footer-dropdown-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-bg);
  color: var(--color-txt);
  font-family: var(--font-heading);
  border: none;
  letter-spacing: 0.1rem;
  transition: all 0.3s;
}

.footer-dropdown-btn:hover {
  cursor: pointer;
  color: var(--color-heading-primary);
}

.footer-dropdown-ul {
  display: none;
  list-style: none;
  margin: 0;
  transition: all 0.3s;
}

.footer-dropdown-ul-open {
  display: block;
  list-style: none;
  margin: 0;
  transition: all 0.3s;
}

.footer-dropdown li {
  margin-bottom: 1rem;
}

.footer-dropdown li a:hover {
  cursor: pointer;
  color: var(--color-heading-primary);
}

.footer-dropdown a {
  text-decoration: none;
  color: var(--color-txt);
}

.footer-legal {
  padding: 0 5%;
  color: var(--color-txt-shade-1);
  text-align: justify;
  margin-bottom: 4rem;
}

.footer-legal a {
  color: var(--color-txt-shade-1);
}
