:root {
  --color-bg: #f1f1f1;
  --color-txt: #212121;
  --highlight-primary: #ed5959;
  --highlight-secondary: rgba(241, 241, 241, 0.529);

  /* Font */
  --font-heading: "Permanent Marker", cursive;
  --font-body: "Poppins", sans-serif;
}

html {
  font-size: 100%;
} /*16px*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: var(--color-bg);
  color: var(--color-txt);

  font-family: var(--font-body);
  font-weight: 400;
  line-height: 1.75;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

.highlight--primary {
  color: var(--highlight-primary);
}

.container {
  /* margin: auto 20%; */
  padding: 0px 5%;
}

.section--header {
  position: relative;
  background-color: var(--color-txt);
}

.logo--nav {
  font-family: "Permanent Marker", cursive;

  color: var(--color-bg);
  letter-spacing: 1px;
}

.logo--nav:link,
.logo--nav:visited {
  text-decoration: none;
}

.nav {
  background-color: var(--color-txt);
  width: 90%;
  height: 3rem;
  position: fixed;
  top: 0;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  padding: 2rem 5% 2rem 5%;
  display: flex;
  width: 90%;
  color: var(--color-bg);
  list-style: none;
  background: var(--color-txt);
  transition: 0.5s ease-in-out;
  position: fixed;
  top: -100vh;
  z-index: 90;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-list-item {
  color: var(--color-bg);
}

.nav-list-item:visited,
.nav-list-item:link {
  text-decoration: none;
}

.icon--menu {
  color: var(--color-bg);
  font-size: 2rem;
}

.icon--menu:hover {
  cursor: pointer;
}

/************************************
*********************

      HERO SECTION 

*****************
*************************************/
.section--hero {
  /* margin-top: 4rem; */

  /* border-top: 4rem solid var(--highlight-primary); */
}

.hero-heading {
  /* Padding on top and bottom allows for the marker effect behind the heading. */
  padding: 4rem 5% 2rem 5%;
  position: absolute;
  overflow: hidden;
  color: var(--color-bg);
}

.hero-heading::before {
  content: "";
  height: 25rem;
  width: 200vw;
  background-color: var(--color-txt);
  position: absolute;
  top: 6vh;
  left: -10vh;
  z-index: -100;
  rotate: z -5deg;
}

.heading--primary {
  font-size: 2.8rem;
  font-weight: bold;
  letter-spacing: 0.4rem;
  font-family: "Permanent Marker", cursive;

  /* This creates a gradient for the typography */
  background: -webkit-linear-gradient(270deg, #f1c22d 0%, #ff7757 100%);
  background-clip: border-box;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #bb2f2f00;

  /* background-color: var(--color-txt); */
  /* border-bottom: 2rem solid var(--highlight-primary); */
}

.author-name {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.3rem;
}

.hero-main {
  /* background-image: url(./images/urban.jpg); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url(./images/urban.jpg);
  height: 50rem;
  /* background-size: cover; */
  /* background-position-x: -9rem; */
  background-size: 300%;
  background-position: 47% 0%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.hero-artist-name {
  font-size: 1.2rem;
  font-family: "Permanent Marker";
  color: var(--highlight-secondary);
  rotate: z 10deg;
  margin-right: 1rem;
  margin-top: -12rem;
}

.hero-artist-description {
  width: 10rem;
}

/************************************
*********************

      MAIN SECTION 

*****************
*************************************/

.section--main {
  margin-top: -15vh;
  padding: 0px 5%;
  overflow: hidden;
}

.main-heading::before {
  /* tag above heading */
  content: "USA";
  font-size: 1.3rem;
  padding: 0px 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-txt);
  border-radius: 5%;
  background-color: var(--color-bg);
  color: var(--color-txt);
  font-family: var(--font-body);
  position: absolute;
  top: -20%;
  left: -3%;
  rotate: -3deg;
}

.main-heading {
  position: relative;
  color: var(--color-bg);
  background-color: var(--color-txt);
  font-family: "Permanent Marker", cursive;
  display: flex;
  justify-content: center;
}

.main-heading::after {
  /* highlighted background */
  content: "";
  height: 25rem;
  width: 200vw;
  background-color: var(--highlight-primary);
  position: absolute;
  top: 0;
  left: -5vw;
  z-index: -100;
  rotate: z -5deg;
}
