:root {
  --color-bg: #121212;
  --color-heading-primary: #d6d6d6;
  --color-heading--secondary: #bebebe;
  --color-txt: #999;
  --color-txt--sub: #aaaaaa;
  --color-txt-shade-1: #626262;
  --color-hero-red: #da4104;
  --color-hero-red-tint-2: #e16736;
  --color-hero-red-tint-4: #e98d68;
  --color-hero-red-tint: #f4c6b4;
  --highlight-primary: #ed5959;
  --highlight-secondary: rgba(241, 241, 241, 0.529);

  /* Font */
  --font-heading: "Permanent Marker", cursive;
  --font-body: "Poppins", sans-serif;
}
